.App {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form input {
  width: 300px;
  height: 60px;
  margin: 10px;
  font-size: 25px;
}

.LoginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.LoginForm input {
  width: 300px;
  height: 25px;
  margin: 10px;
  font-size: 25px;
}
/* USER TABLE */
.usertable button {
  width: 50px;
  height: 30px;
  border-style: none;
  margin-right: 5px;
  margin-left: 5px;
}

.usertable button:hover {
  border-style: double;
}
/* ACTION BUTTON */
.editbutton {
  background-color: chartreuse;
}
.deletebutton {
  background-color: red;
}
.viewbutton {
  background-color: gold;
}

.usertable {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
table {  
  align-items: center;
  text-align: center;
  border-collapse: collapse;
  border: 1px solid black;
}

th {
  width: 180px;
  border: 1px solid black;
}

tr td {
  border: 1px solid black;
}